body {
  font: 20px arial, sans-serif;
}

.navbar {
  background-color: #29ba08;
}

.quemsomos {
  background-color: #8181f7;
  color: white;
}

.margin {
  padding-bottom: 50px;
  padding-top: 10px;
}

.bg-footer {
  background-color: black;
  color: white;
}

.parceiros {
  background-color: #58faf4;
  color: white;
}
